body {
  margin: 0;
  background-color: #8bb1d8
}

/*
 * Colours
 * Outer-Space-Blue-Gray - #3d5059
 * Light-Slate-Gray - #698999
 * Blue-Yonder - #4c77a8
 * Silver-Lake-Blue - #5a84be
 * Dark-Sky-Blue - #8bb1d8
 */

img.resize-half {
  max-width:50%;
  max-height:50%;
}

a:hover,
a:active {
  outline: none;
}

a:focus {
  outline: 3px solid #3d5059;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;

  background-color: #4c77a8;

  color: #8bb1d8;
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

header {
  padding: 1rem;
  background-image: url("../img/pattern.png");
  background-color: #4c77a8;
}

header a {
  color: #8bb1d8;
  font-weight: bold;
}

header strong {
  color: #8bb1d8;
}

nav {
  font-size: 1.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

h1 {
  color: #4c77a8;
}

main {
  padding: 1rem;
}

label {
  display: block;
}

form {
  background-color: #fff;
}

aside {
  padding: 1em;
  background-color: #698999;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside a {
  color: #3d5059;
}

table {
  border-collapse: collapse;
  min-width: 50em;
}

table p {
  margin: 0;
  padding: 0;
}

th, td {
  border: 1px solid #3d5059;
  padding: 0.75em;
  text-align: left;
  vertical-align: bottom;
}

th {
  color: #fff;
  font-size: 2.125em;
}

td {
  color: #3d5059;
  font-size: 2.125em;
}

thead th,
tfoot th {
  background-color: #5a84be;
  border-right: 1px solid #3d5059;
  font-size: 2.125em;
}

thead th {
  border-bottom: 1px solid #3d5059;
  font-size: 3.125em;
}

tbody th {
  background-color: #5a84be;
}

tbody tr:last-child th,
tbody tr:last-child td {
  border-bottom: 1px solid #3d5059;
}

tbody tr:nth-child(odd) {
  background-color: #fff;

caption {
  color: #3d5059;
  font-style: italic;
  font-size: 1.125rem;
}

.free {
  width: 7em;
}

.personal {
  width: 7em;
}

.advanced {
  width: 7em;
}

thanks {
  font-size: 1.125rem;
  background-color: #fff;
}

footer {
  padding: 0.5rem;
  background-color: #4c77a8;
  color: #8bb1d8;
  font-size: 0.75rem;
}

/*
 * Colours
 * Outer-Space-Blue-Gray - #3d5059
 * Light-Slate-Gray - #698999
 * Blue-Yonder - #4c77a8
 * Silver-Lake-Blue - #5a84be
 * Dark-Sky-Blue - #8bb1d8
 */

 @media only screen and (min-width: 60em) {

   .space-right {
     padding-right: .5rem;
   }

   .space-left {
     padding-left: .5rem;
   }

   .table-wrapper {
     overflow: visible;
   }

 }
